<container>
    <row class="footer">
        <columns small="8" large="6" valign="middle">
            <span style="display: flex;">
                <img src="{{root}}/assets/img/kayak_files/logo_circle.png" alt="" class="logo_circle">
                <p  class="footer-blurb" valign="middle">Download the app<br> <span style="font-size: 12px;">Cheap flights, hotels & more</span></p>
            </span>
        </columns>
        <columns small="4" large="6" valign="middle">
            <span style="display:flex; float: right;" class="show-for-large">
                <a href="#" class="appstore"><img src="{{root}}/assets/img/kayak_files/appstore.png" alt="" class="appstore_icon"></a>
                <a href="#"><img src="{{root}}/assets/img/kayak_files/playstore.png" alt="" class="playstore_icon"></a>
            </span>
            <span style="float: right;" class="show-for-small-only hide-for-large">
                <a href="#" class="appstore"><img src="{{root}}/assets/img/kayak_files/appstore.png" alt="" class="appstore_icon"></a>
                <a href="#"><img src="{{root}}/assets/img/kayak_files/playstore.png" alt="" class="playstore_icon"></a>
            </span>
        </columns>
    </row>
        <row class="footer-section-2">
            <columns small="6" large="6" valign="middle">
                <span style="display: flex;">
                    <img src="{{root}}/assets/img/kayak_files/logo_orange.png" alt="" class="kayak_logo">
                </span>
            </columns>
            <columns small="6" large="6" valign="middle">
                <span style="display:flex; float: right;">
                    <a href="#" class="appstore"><img src="{{root}}/assets/img/kayak_files/facebook.png" alt=""
                            class="social_media_icon"></a>
                    <a href="#"><img src="{{root}}/assets/img/kayak_files/twitter.png" alt="" class="social_media_icon"></a>
                    <a href="#" style="padding-left: 8px;"><img src="{{root}}/assets/img/kayak_files/instagram.png" alt="" class="social_media_icon"></a>
                </span>
            </columns>
        </row>
    <row class="sub-footer">
        <columns style="width: 90%;">
            <row>
                <columns valign="middle" small="4" large="3" class="plane">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/airplane.png"
                            class="menu_icon" alt=""> Flights</a>
                </columns>
                <columns class="show-for-large" style="width: 2%;"><span class="menu_divider"></span></columns>
                <columns valign="middle" small="4" large="3">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/bed.png" class="menu_icon"
                            alt="">Hotels</a>
                </columns>
                <columns class="show-for-large" style="width: 2%;"><span class="menu_divider"></span></columns>
                <columns valign="middle" small="4" large="3">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/car.png" class="menu_icon"
                            alt="">Cars</a>
                </columns>
                <columns class="show-for-large" style="width: 2%;"><span class="menu_divider"></span></columns>
                <columns class="show-for-large umbrella" valign="middle" large="3">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/umbrella.png"
                            class="menu_icon" alt="">Packages</a>
                </columns>
            </row>
        </columns>
    </row>
</container>